<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Syllabus Tool</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

		<center>
		<div class="header">
			<a href="/">
				<img src= "{% static 'media/syllabusLOGO.png' %}" class="homelogo"/>
			</a>

			<div class="login">
				<input type="text" id="username_entry" placeholder="Username"></input>
				<input type="text" placeholder="Password"></input>
				<button onlick="{% url 'student' %}" id="LoginButton">Login</button>
			</div>


		</div>
		<ul style="font-family:helvetica; width:100%;background-color:#333333;">


			<li><a href="/" class="active">Home</a></li>

			<!--once instructors pages are added we can make this instructor only-->
			<li><a href="/createSyllabus">Create a Syllabus</a></li>

			<li><a href="">Add</a></li>
			<li><a href="">Your</a></li>
			<li><a href="">Pages</a></li>
			<li><a href="">Here</a></li>

			<li style="float:right;font-family:helvetica;"><a href="/contactUs">Contact us</a></li>

		</ul>
		<hr style="color:purple;">


		<div class="content">
    		{% block content %}<!-- Overridden -->{% endblock %}
		</div>

			<p style="color:gray;">© 2021-20?? Syllabus Creation Tool All Rights Reserved (someday maybe).<br>made by students of UMBC </p>
		</center>
</body>
</html>
