{% extends "base_generic.html" %}

{% block title %}<title>Create Syllabus - Syllabus Tool</title>{% endblock %}

{% block content %}

<html>

<head>

    <h1>
        <center>Create Your Syllabus</center>
    </h1>

    </title>
    <style>
        .tab1 {
            tab-size: 8;
        }

    </style>

</head>
<body>

    <hr>

    <form action="{% url 'syllabusPDF'%}" method="post">
    {% csrf_token %}
        <dev class="indent_syllabus">
            Course Name: {% if course_name_empty %}  <span style="color: #ff0000"> Empty </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="course_name" value="{{course_name}}"> </br>
        </dev>

        <dev class="indent_syllabus">
            Course Id:{% if course_id_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
         </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="course_id" value="{{course_id}}"> </br>
        </dev>

        <dev class="indent_syllabus">
            Full Name: {% if instructor_name_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="prof_name" value="{{prof_name}}"> </br>
        </dev>

        <dev class="indent_syllabus">
            Email Address: {% if instructor_email_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif instructor_email_invalid %} <span style="color: #ff0000"> invalid didnt have @ </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="prof_email" value="{{prof_email}}"></br>
        </dev>

        <dev class="indent_syllabus">
            Office Location: {% if instructor_office_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="prof_office" value="{{instructor_office}}"></br>
        </dev>

        <dev class="indent_syllabus">
            Office Days (use /. M/W): {% if instructor_days_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="office_day" value="{{instructor_days}}"></br>
        </dev>

        <dev class="indent_syllabus">
            Office Hours (use -. 4-4:30):{% if instructor_hours_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif instructor_hours_invalid %} <span style="color: #ff0000"> invalid didnt have - </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="office_hours" value="{{instructor_hours}}"></br>
        </dev>

        <dev class="indent_syllabus">
            Ta's Names (use , to split names): {% if ta_names_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif ta_names_more %} <span style="color: #ff0000"> invalid had more names than emails - </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="ta_names" value="{{ta_names2}}"></br>

        </dev>

        <dev class="indent_syllabus">
            Ta's Email (use , to split emails):{% if ta_emails_empty %}  <span style="color: #ff0000"> Empty </span> </font>
            {% elif ta_emails_more %} <span style="color: #ff0000"> invalid had more emails than names - </span>
            {% elif ta_emails_invalid %} <span style="color: #ff0000"> invalid didnt have @ </span>{% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="ta_emails" value="{{ta_emails2}}"> </br>

        </dev>

        <dev class="indent_syllabus">
            Meeting Time (use -. 4-4:30):{% if meeting_times_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif meeting_times_invalid %} <span style="color: #ff0000"> invalid didnt use - </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="class_time" value="{{meeting_times}}"></br>
        </dev>

        <dev class="indent_syllabus">
            Meeting Days (use /. M/W): {% if meeting_days_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="class_days" value="{{meeting_days}}"></br>
        </dev>

        <dev class="indent_syllabus">
            Course Topics: (use , to split): {% if course_topics_empty %} <span style="color: #ff0000"> Empty </span> {% endif %} </br>
        </dev>

        <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="course_topics" value="{{course_topics2}}"></br>
        </dev>

       <dev class="indent_syllabus">
            Needed Materials:{% if course_requirements_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
       </dev>

       <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="materials" value="{{course_requirements}}"></br>
       </dev>

      <dev class="indent_syllabus">
            Course Description:{% if course_description_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
      </dev>

      <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="course_description" value="{{course_description}}"></br>
      </dev>

      <dev class="indent_syllabus">
            Course Pre-Req:{% if course_pre_req_empty %} <span style="color: #ff0000"> Empty </span> {% endif %}</br>
      </dev>

      <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="course_pre_req" value="{{course_pre_req}}"></br>

      </dev>

      <dev class="indent_syllabus">
            <span style="color: green">Assignments Types(use , to split types. Homework,Quizzes):</span>{% if grading_type_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif  grading_type_more %} <span style="color: #ff0000"> invalid has more grade types than values - </span> {% endif %}</br>
      </dev>

      <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="grading_type"value="{{grading_type}}"></br>
      </dev>

      <dev class="indent_syllabus">
            <span style="color: green">Assignment Weights (use %, to split values):</span> {% if grading_value_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif  grading_value_more %} <span style="color: #ff0000"> invalid has more grade values than types - </span> {% endif %}</br>
      </dev>

      <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="grading_value"value="{{grading_value}}"></br>
      </dev>

      <dev class="indent_syllabus">
            <span style="color: blue">Individual Assignments (use , to split Assignments. Read chapter1):</span>{% if work_empty %} <span style="color: #ff0000"> Empty </span>
             {% elif  work_more %} <span style="color: #ff0000"> invalid has more assignments than dates - </span> {% endif %}</br>
      </dev>

      <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="work" value="{{work}}"></br>

      </dev>

      <dev class="indent_syllabus">
            <span style="color: blue">Due Dates For Assignments(mm/dd use , to split dates): </span>{% if assignment_dates_empty %} <span style="color: #ff0000"> Empty </span>
            {% elif assignment_dates_invalid %} <span style="color: #ff0000"> invalid did use / </span>
            {% elif  assignment_dates_more %} <span style="color: #ff0000"> invalid has more dates than assignments - </span> {% endif %}</br>
      </dev>

      <dev class="indent_syllabus">
            <input type="text" style = width:350px;" name="due_dates" value="{{assignment_dates}}"></br>
      </dev>

    <dev class="indent_syllabus">
           Syllabus Language: </br>
      </dev>

      <dev class="indent_syllabus">
            <input type="checkbox"  name="Student Academic Integrity" id="Student Academic Integrity" tabindex="1" checked ="checked" onclick="return false;"> Student Academic Integrity
            <span style="color: #ff0000"> (Required By UMBC) </span></br>
      </dev>

      <dev class="indent_syllabus">
            <input type="checkbox"  name="Title IX" id="Title IX" tabindex="2" checked ="checked" onclick="return false;"> Title IX
            <span style="color: #ff0000"> (Required By UMBC) </span></br>
      </dev>

      <dev class="indent_syllabus">
            <input type="checkbox"  name="Accessibility and Disability" id="Accessibility and Disability" tabindex="3" checked ="checked" onclick="return false;"> Accessibility and Disability
            <span style="color: #ff0000"> (Required By UMBC) </span></br>
      </dev>

      <dev class="indent_syllabus">

            <input type="checkbox"  name="Pregnant_and_Parenting_Students" id="Pregnant_and_Parenting_Students" value ="1" tabindex="4"> Pregnant and Parenting Students</br>

      </dev>

      <dev class="indent_syllabus">

            <input type="checkbox"  name="Religious_Observances_Accommodations" id="Religious_Observances_Accommodations" value ="1" tabindex="5"> Religious Observances & Accommodations</br>

      </dev>

      <dev class="indent_syllabus">

            <input type="checkbox"  name="Hate_Bias_Discrimination_and_Harassment" id="Hate_Bias_Discrimination_and_Harassment" value ="1" tabindex="6"> Hate, Bias, Discrimination and Harassment</br>

      </dev>

        </br>
        </br>
        </br>


    <form action="{% url 'syllabusViewer' %}">
        {% csrf_token %}
        <button type="submit" formaction="{% url 'syllabusViewer' %}">Make a Syllabus</button>

        <button type="submit" formtarget ="_blank" formaction="{% url 'syllabusPDF' %}">Make a pdf</button>

    </form>


</form>

</body>

</html>

{% endblock %}