<!--- This is used so i can reference the css files --->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Due Dates</title>
    <link rel="stylesheet"  type = "text/css" href="{% static 'css/dueDates.css' %}">


</head>

<body style = "background-color:#f8f8ff">

    <div class="nav" style="width:100%">
        <div class="header">
			<a href="/">
				<img src= "{% static 'media/syllabusLOGO.png' %}" class="homelogo"/>
			</a>

			<div class="login">
				<input type="text" id="username_entry" placeholder="Username"></input>
				<input type="text" placeholder="Password"></input>
				<button onlick="{% url 'student' %}" id="LoginButton">Login</button>
			</div>


		</div>
		<ul style="font-family:helvetica; width:100%;background-color:#333333;">


			<li><a href="/" class="active">Home</a></li>

			<!--once instructors pages are added we can make this instructor only-->
			<li><a href="/createSyllabus">Create a Syllabus</a></li>

			<li><a href="/dueDates">Your Calendar</a></li>
			<li><a href="/roadMap">Roadmap</a></li>
            <li><a href="">More</a></li>
			<li><a href="">Pages</a></li>
			<li><a href="">Here</a></li>

			<li style="float:right;font-family:helvetica;"><a href="/contactUs">Contact us</a></li>

		</ul>
		<hr style="color:purple;">
    </div>

    <!-----------------------------------------end navbar-------------------------------------------------->

    <p   style="float:right;">Add student section with courses and their assignments here</p>

<div class="dues" style="float: right;position: relative;left: -10%;">
    <div id="holder">

        <div id="Title">
            <!--- This will be an arrow so you can go to the previous month --->
            <div >
                <button id="previousMonth"> < </button>
             </div>

        <div id="showMonth"></div>
            <!--- This will be an arrow so you can go to the next month --->
            <div >
                <button id="nextMonth"> > </button>
             </div>

        </div>

        <!--- will just be the header for the days of the week --->
        <div id ="days">
            <div>Sunday</div>
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
        </div>

        <div id="calendar">

        </div>

    </div>

    <!--- will be a pop-up so you can enter data and it will then update the calendar --->
    <div id="newModal">

        <p> Enter An Assignment: </p>
        <input id="assignments"/>

        <button id="Add"> Add </button>
        <button id="Exit"> Close </button>
    </div>

    <!--- will be a pop-up so you can either remove an assignment or update it --->
    <div id="editModal">

        <p> Edit Assignments: </p>
        <input id="assignments2"/>

        <button id="Save"> Add </button>
        <button id="Close"> Close </button>

    </div>

</div>
    <div id="modal"></div>

    <script src="{% static 'javascript/calendar.js' %}"></script>


<br>
<br>
<br>



</body>
</html>