<!DOCTYPE html>
<html>
    <head>
        <title>Student - Syllabus Tool</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    </head>
    <body style="background-color:darkgray">

    <h1>navbar</h1>
    <hr>

    {% block content %}
    
    
    
    {% endblock %}
    
    <hr>
    <h5>Our footer</h5>
    
    </body>
</html>