{% extends "base_generic.html" %}

{% block title %}<title>Student - Syllabus Tool</title>{% endblock %}

{% block content %}

    {% block navbar %}
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="">Syllabus Tool</a> <!-- Select a school? Search Page? -->
        <a class="navbar-nav" href="My Syllabi"></a> <!-- Tracked Syllabi -->
    </nav>
    {% endblock %}

    <h1>Student Page</h1>
    <ul>
        <li>Syllabus 1</li>
        <li>Syllabus 2</li>
        <li>Syllabus 3</li>
    </ul>

    <form action="{% url 'dueDates' %}">
        {% csrf_token %}
        <button type="submit" >Check Due Dates</button>
    </form>
{% endblock %}