
:root {
    --UMBC_black: #000000; /* var(--UMBC_black) */
    --UMBC_gold: #fdb515;
    --UMBC_darkgrey: #636466
}

#landingLeftContainer {
    height: 100%;
    background-color: grey;
}

.nav body{
	min-width:700;
	width 100%;
	background-color:#f8f8ff;
	text-align: center;
	}


.header{
	background-image:url('https://styleguide.umbc.edu/files/2019/05/maryland-flag-background-black.jpg');
	display: block;
    width:100%
}

.content{

}

.login{
float:right;

}

.active{
	background-color:#F5CD00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: auto;
}

li{
	float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

--------------------

.dues body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  font-family:helvetica;
  align-content: center
}

.dues button {
  width: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 4px #fdb515;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color:black;
}

#Title {
  padding: 10px;
  color: ##f8f8ff;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  font-family:helvetica;
}

#Title button {
  background-color:black;
}

#holder {
  width: 770px;
}

#days {
  width: 100%;
  display: flex;
  font-family:helvetica;
  font-size:15  px;
  color: black;
}

#days div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  font-family:helvetica;
  margin: 5px;
  box-shadow: 0px 0px 6px black;
  overflow: auto;
}

.day:hover {
  background-color: #636466;
}

.dontShow {
  cursor: default;
  background-color: #f8f8ff;
  box-shadow: none;
}

#newModal, #editModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  position: absolute;
}

#Add, #Exit, #Save, #Close {
  background-color: black;
}

#eventText {
  font-size: 14px;
}

#modal {
  display: none;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,.5);
}

.day + #currentDay {
  border: 4px solid #fdb515;
}

.assignmentPrint {
  font-size: 12px;
  padding: 3px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}