/*  UMBC Colors: https://styleguide.umbc.edu/umbc-colors/ */
:root {
    --UMBC_black: #000000; /* var(--UMBC_black) */
    --UMBC_gold: #fdb515;
    --UMBC_darkgrey: #636466
}

#landingLeftContainer {
    height: 100%;
    background-color: grey;
}


body{
	min-width:700;
	background-color:#f8f8ff;
	text-align: center;
	}

.header{
	background-image:url('https://styleguide.umbc.edu/files/2019/05/maryland-flag-background-black.jpg');
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.content{
  
}

.login{
float:right;

}

.active{
	background-color:#F5CD00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: auto;
}

li{
	float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}



